<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Age: <%= f.text_field :age %><br><br>
  Location: <%= f.text_field :location %><br><br>
  Username: <%= f.text_field :username %><br><br>
  Email: <%= f.text_field :email %><br><br>
  Password: <%= f.password_field :password %><br><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br><br>
  <%= f.submit %>
<% end %>