<h2><%= @user.username %> has reviewed the following doctor(s): </h2>
<%if @user.reviews.empty?%>
    <h3>No reviews yet!</h3>
<%else%>
<ul>
    
     <% @user.reviews.each do |review| %>
    <il>
        "<%= review.content %>" about <%=link_to review.doctor.name, doctor_path(review.doctor)%> <br><br>
        <%=link_to "Edit Review", edit_doctor_review_path(review.doctor, review) %><br>
        <%= link_to "Delete Review", doctor_review_path(review.doctor, review), method: 'delete'%>
    </il>
    <% end %><br><br>
</ul>
<%end%>



<%=link_to "List of Doctors", doctors_path %>