<h2><%= @user.username %> has reviewed the following doctor(s): </h2>
<ul>
    <il>
     <% @user.reviews.each do |review| %>
        "<%= review.content %>" about <%= link_to review.doctor.name, doctor_path(review.doctor) %>
    </il>
</ul>
    <% end %>
<%=link_to "Edit Review", edit_review_path %><br>
<%= link_to "Delete Review", review_path, method: 'DELETE'%>
<%=link_to "List of Doctors", doctors_path %>