<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @patient do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Age: <%= f.text_field :age %><br><br>
  Location: <%= f.text_field :location %><br><br>
  Username: <%= f.text_field :username %><br><br>
  Email: <%= f.text_field :email %><br><br>
  Password: <%= f.text_field :password %><br><br>
  <%= f.submit %>
<% end %>