<%if current_user.nil? %>
    <h3 id='welcome'>Welcome to CommonHealth</h3>
<%else%>
    <h3 id='user'>Hello, <%=current_user.username%>!</h3>
<%end%>
<h2 id='list-header'>List of Black Doctors in the U.S.</h2>
<div id='search-container'>
  <h3 id='search-header'>Search Doctors by Location, or Specialty:</h3>
    <%= form_tag doctors_path, :method => 'get' do %>
        <label>Location:</label>
        <%= select_tag "location", options_from_collection_for_select(Doctor.select(:location).distinct, :location, :location), include_blank: true %>
        <label>Specialty: </label>
        <%= select_tag "specialty", options_from_collection_for_select(Doctor.select(:specialty).distinct, :specialty, :specialty), include_blank: true %>
        <%= submit_tag "Search" %>
    <% end %>
</div><br><br><br>

<%if !location_specialty%>
    <div hidden id='doctor-conatainer'>
    <% @doctors.each do |doctor| %>
    <ul id='doctor-list'>
        <il id='doctor-name'>
        <%= link_to doctor.name, doctor_path(doctor) %>
        </il>
    </ul>
    <% end %>
    </div>
<%else%>
    <div id='doctor-conatainer'>
    <% @doctors.each do |doctor| %>
    <ul id='doctor-list'>
        <il id='doctor-name'>
        <%= link_to doctor.name, doctor_path(doctor) %>
        </il>
    </ul>
    <% end %>
    </div>
<%end%>
  