<h2><%= @doctor.name %></h2>
<p>
Specialty:  <%= @doctor.specialty %><br>
Location:  <%= @doctor.location %><br>
Insurance Accepted:  <%= @doctor.insurance_accepted %><br>
</p>
<%=link_to "Reviews of Doctor", doctor_reviews_path(@doctor) %>
<%=link_to "Create a Review", new_doctor_review_path(@doctor) %>


