<h2><%= @doctor.name %></h2>
<p>
Specialty:  <%= @doctor.specialty %><br>
Location:  <%= @doctor.location %><br>
Insurance Accepted:  <%= @doctor.insurance_accepted %><br>
</p>
Reviews:
  <% @doctor.reviews.each do |review| %>
    <%= link_to review.user.username, user_path(review.user) %> said
    <%= review.user_review %>
  <% end %>