<%= form_for @review do |f| %>
Write Review Here:<br><br>
<%= f.hidden_field :doctor_id %>

<%  f.label :content %>
<%= f.text_area :content %><br><br>
<%= f.submit %>
<% end %>





<!--
<%= form_for @review do |f| %>
  <% if @doctor %>
  <h3>Review <%=@doctor.name%></h3>
    <%= f.hidden_field :doctor_id, value: @doctor.id %>
  <% end %>
Write Review Here:<br><br>
  <%  f.label :content %>
  <%= f.text_area :content %><br><br>
  <%= f.submit %>
<% end %>
-->
