<div id="doctor-reviews">
<h2 id="doctor">All of <%= @doctor.name%>'s Reviews</h2>
<%if @reviews.empty?%>
    <h3>No reviews yet!</h3>
    <%=link_to "Give a Review", new_doctor_review_path(@doctor) %>
<%else%>
<ul id="review">
    
    <% @reviews.each do |review|%>
    <il>
            "<%= review.content%>" by <%=  review.user.username%><br><br>
            <%if review.user == current_user%>
            <%= link_to "Edit", edit_doctor_review_path(@doctor, review) %> |
            <%= link_to "Delete", doctor_review_path(@doctor, review), method: :delete%><br><br>
        <%end%>
    </il>
    <%end%>
    
</ul>
<%end%>
</div>
<br><br>
<div id="page-redirection">
<%= link_to "Back to Doctor", doctor_path(@doctor) %><br>
<%= link_to "Back to Search", doctors_path %>
</div>